<% content_for :title, "Feed" %>

<div class="relative w-full">
  <div id="tweet_flash" class="tweet_flash">
    <%= render "tweets/shared/flash_messages" %>
  </div>

  <div class="min-w-full" id="tweets" data-controller="pagination"
      data-pagination-url-value="<%= tweets_path %>">
    <%= render partial: "tweets/shared/tweet", collection: @tweets %>
  </div>

   <%= link_to "Post", new_tweet_path, data: {turbo_frame: "modal"}, class: "new_tweet_btn" %>
</div>
