<div class="show_tweet">
  <%= link_to authenticated_root_path, class: "inline-block" do %>
    <%= inline_svg_tag("icons/arrow_left.svg") %>
  <% end %>

  <% if @tweet.repost? %>
    <%= render "tweets/shared/show/repost", tweet: @tweet %>
  <% else %>
    <%= render "tweets/shared/show/tweet", tweet: @tweet %>
  <% end %>
</div>
